@charset "UTF-8";




#main{
    min-width: 1400px;
    width: 100%;
}
#main .contentwrap{
    width: 1100px;
    margin: 0 auto;
}
#main .contentwrap ul{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap ul li{
    width: 350px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
#main .contentwrap ul li:last-child{
    margin-right: 375px;
}
#main .contentwrap ul li img{
    margin-bottom: 15px;
}
#main .contentwrap ul li:first-child > img{
    width: 348px;
    height: 348px;
    border: 1px solid #ababab;
}
#main .contentwrap ul li span{
    font-size: 12px;
    font-weight: 700;
}
#main .contentwrap ul li p{
    font-size: 12px;
    font-weight: 400;
}
#main .contentwrap ul li a{
    display: block;
    width: 100%;
    height: 350px;
    background-color: rgba(1, 1, 1, 0.5);
    position: absolute;
    opacity: 0;
}
#main .contentwrap ul li a img{
    width: 20%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.7;
}





#footer{
    position: relative;
}





@media only screen and (max-width:499px){

    #main{
        min-width: 100%;
    }
    #main .contentwrap{
        width: 100%;
    }
    #main .contentwrap ul {
        padding-top: 100px;
        padding-bottom: 50px;
        display: block;
    }
    #main .contentwrap ul li{
        width: 86%;
        margin-left: 7%;
    }
    #main .contentwrap ul li:first-child > img{
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }
    #main .contentwrap ul li a{
        height: calc(100% - 29.5px);
    }
}