@charset "UTF-8";

#main-ad .image{
    background-image: url(../img/main_ad.jpg);
}

.cont ul li{
    width: 600px;
}

#sub-cont .cont ul li{
    width: 390px;
    margin-bottom: 60px;
}




@media only screen and (max-width:1400px){

    
    .cont ul li{
        width: 48.5%;
        transition: 0.5s;
    }
    #sub-cont .cont ul li{
        width: 31.5%;
        margin-bottom: 50px;
        transition: 0.5s;
    }
}

@media only screen and (max-width:1280px){

    #sub-cont{
        margin-top: 140px;
        transition: 0.5s;
    }
}

@media only screen and (max-width:1024px){

    #sub-cont{
        margin-top: 130px;
    }
}

@media only screen and (max-width:800px){

    #sub-cont{
        margin-top: 120px;
    }
}

@media only screen and (max-width:640px){

    .cont ul li{
        width: 100%;
        margin-bottom: 50px;
    }
    #sub-cont .cont ul li{
        width: 48%;
    }
}

