@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Montserrat", "Noto Sans KR", sans-serif;
    line-height: 1.5;
	color: #333333;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

html, body {
	touch-action: manipulation; /* 확대나 기타 터치 제스처 방지 */
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    text-decoration: none;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img{
    width: 100%;
    vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**   reset   **/






    #wrap{
        width: 100%;
        position: relative;
    }

/**   header   **/
    header{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        position: fixed;
        z-index: 3;
    }
    .header{
        width: calc(100% - 80px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
    }
    .header .logo{
        width: 100px;
        margin-top: 50px;
    }
    .header .menu{
        width: 30px;
        height: 20px;
        margin-top: 45px;
        display: block;
        cursor: pointer;
    }
    .header a{
        height: 20px;
        display: inline-block;
    }
    .header img{
        width: 100%;
    }

/**   nav   **/
    nav{
        width: 100vw;
        height: 100vh;
        min-height: 730px;
        background-color: #ffffff;
        display: none;
        position: relative;
        top: 0;
    }
    nav .top{
        width: calc(100% - 80px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    nav .logo{
        width: 100px;
        margin: 50px 0 30px;
    }
    nav .top a{
        height: 20px;
        display: inline-block;
    }
    nav img{
        width: 100%;
    }
    nav .close{
        display: block;
        width: 20px;
        height: 20px;
        margin: 50px 0 30px;
        cursor: pointer;
    }
    nav .nav{
        width: 100%;
    }
    nav .nav ul{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 52%;
        left: 50%;
        z-index: 2;
    }
    nav .nav ul li{
        margin: 0.5rem 0;
        text-align: center;
    }
    nav .nav ul li a{
        font-size: 2.5rem;
        font-weight: 800;
    }

/**   main   **/
    main{
        width: 100%;
        max-width: 1700px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    main .container{
        width: 86%;
        margin: 0 auto;
        padding: 120px 0;
        position: relative;
        opacity: 0;
        transition: 1s;
    }

/**   footer   **/
    footer{
        width: calc(100% - 80px);
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        bottom: 0;
    }
    footer .link{
        width: 20px;
        height: fit-content;
        position: relative;
        z-index: 1;
    }
    footer .link img{
        margin-bottom: 20px;
    }
    footer .link .bl{
        display: none;
    }
    .footer{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        bottom: 46px;
        position: relative;
    }
    .footer p{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .footer img{
        display: block;
        width: 3rem;
        margin: 0.2rem 0.5rem;
        position: relative;
        top: 0px;
    }

    @media only screen and (max-width:1900px){

        br[class="off-img"]{
            display: block;
        }
	    nav {
            height: calc(100vh - 70px);
            min-height: 670px;
    	}
        footer{
            height: 70px;
	    z-index: 1;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        footer .link{
            width: 250px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        footer .link a{
            width: 20px;
        }
        footer .link img{
            margin-bottom: 0;
        }
        .footer{
            bottom: unset;
        }
    }
    @media only screen and (max-width:1024px){
    
        html{
            font-size: 90%;
        }
    }
    @media only screen and (max-width:700px){
    
        html{
            font-size: 80%;
        }
        footer{
            display: block;
            bottom: 10px;
        }
        footer .link{
            transform: translate(-50%, 0);
            left: 50%;
            bottom: 20px;
        }
        .footer{
            width: 100%;
            justify-content: center;
        }
    }
    @media only screen and (max-width:499px){
    
        html{
            font-size: 70%;
        }
        #wrap{
            min-width: 100%;
        }
        header{
            height: 80px;
        }
        .header{
            width: 86%;
        }
        .header .logo{
            width: 80px;
            margin-top: 32px;
        }
        .header .menu{
            width: 25px;
            margin-top: 27px;
        }
        nav {
            height: 100vh;
            min-height: unset;
        }
        nav .top{
            width: 86%;
        }
        nav .top .logo{
            width: 80px;
            margin-top: 32px;
        }
        nav .top .close{
            width: 17px;
            margin-top: 30px;
        }
        nav .nav ul{
            top: 45%;
        }
        main{
            min-height: unset;
        }
        main .container{
            padding-top: 80px;
        }
        footer .link{
            width: 65%;
            bottom: 10px;
        }
        footer .link a{
            display: block;
            width: 7%;
        }
        footer .link img{
            margin-bottom: 0;
        }
    }

/**-------------------------------------**/










/**-------------- 0.main ------------**/
    #main header{
        background-color: unset;
    }
    #main main{
        max-width: unset;
        height: 100vh;
        min-height: 740px;
        margin: unset;
        position: relative;
        z-index: 1;
    }
    #main .container{
        width: 100%;
        height: 100%;
        margin: unset;
        padding: unset;
        background: url(https://smoooss.github.io/plave/resource/img/main/bg05.jpg) center/cover no-repeat;
        position: unset;
        opacity: unset;
        transition: unset;
    }
    #main .content{
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.2);
    }
    #main .text{
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        right: 40px;
        opacity: 0;
        transition: 0.5s;
    }
    #main .text a{
        width: 100%;
        color: #ffffff;
        font-weight: 500;
        text-align: right;
        display: block;
    }
    #main .text a:nth-child(1){
        font-size: 2.5rem;
        font-weight: 700;
    }
    #main .text a:nth-child(2){
        font-size: 2rem;
    }
    #main .text a:nth-child(4){
        font-size: 1.3rem;
        font-weight: 700;
    }
    #main .text a:nth-child(5){
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
    }
    #main .text span{
        width: 50%;
        height: 2px;
        margin: 2.5rem 0 2.5rem 50%;
        background-color: #ffffff;
        display: block;
    }
    #main .link .bl{
        display: none;
    }
    #main .footer p{
        color: #ffffff;
    }

    @media only screen and (max-width:1900px){

        #main footer{
            position: absolute;
        }
    }
    @media only screen and (max-width:499px){

        #main main {
            min-height: unset;
        }
        #main .container{
            background: url(https://smoooss.github.io/plave/resource/img/main/m_bg05.jpg) bottom/cover no-repeat;
        }
        #main .text{
            width: fit-content;
            transform: translate(0, 0);
            top: 20%;
            right: 7%;
        }
        #main .text a:nth-child(n+4){
            width: 70%;
            bottom: 60px;
            display: none;
        }
        #main .text span{
            width: 50%;
            right: 0;
            position: absolute;
        }
    }
/**-------------------------------------**/










/**-------------- 1.profile ------------**/
    #profile{
        height: 100vh;
        min-height: 1000px;
        position: relative;
        z-index: 2;
    }
    #profile .container{
        width: 47rem;
        height: 35rem;
        margin: unset;
        padding: unset;
        transform: translate(-50%, -50%);
        top: 53%;
        left: 50%;
        opacity: 0;
        transition: 0.5s;
    }
    #profile .container .menu{
        width: fit-content;
    }
    #profile .container .menu ul li{
        margin-bottom: 0.7rem;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: right;
        cursor: pointer;
    }
    #profile .container .menu ul li:first-child{
        font-size: 1rem;
        font-weight: 700;
    }
    #profile .container .content{
        width: 27rem;
        aspect-ratio: 1 / 1.3;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        left: 5.5rem;
    }
    #profile .back{
        width: 24rem;
        aspect-ratio: 1 / 1.35;
        background-color: #333333;
    }
    #profile .front{
        width: 24rem;
        aspect-ratio: 1 / 1.35;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #profile .front ul li{
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
    }
    #profile .front ul li:nth-child(1){
        display: block;
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image81.jpg) center/cover no-repeat;
    }
    #profile .front ul li:nth-child(2){
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image82.jpg) center/cover no-repeat;
    }
    #profile .front ul li:nth-child(3){
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image83.jpg) center/cover no-repeat;
    }
    #profile .front ul li:nth-child(4){
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image84.jpg) center/cover no-repeat;
    }
    #profile .front ul li:nth-child(5){
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image85.jpg) center/cover no-repeat;
    }
    #profile .textwrap{
        position: absolute;
        left: 73%;
        bottom: 0;
    }
    #profile .text{
        display: none;
    }
    #profile .text dt{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #profile .text dd{
        font-size: 1.1rem;
        font-weight: 500;
    }
    #profile .text.t1{
        display: block;
    }

    @media only screen and (max-width: 1900px){

        #profile {
            height: calc(100vh - 70px);
            min-height: 930px;
        }
    }
    @media only screen and (max-width: 950px){
    
        #profile .container {
            width: 27rem;
            height: unset;
            top: 50%;
        }
        #profile .container .menu{
            width: 24rem;
        }
        #profile .container .menu ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #profile .container .menu ul li{
            text-align: left;
        }
        #profile .container .content{
            position: relative;
            transform: unset;
            top: 0;
            left: 0;
        }
        #profile .textwrap {
            width: unset;
            height: unset;
            position: unset;
        }
        #profile .text {
            margin-top: 1rem;
            position: unset;
            display: none;
            flex-wrap: wrap;
            justify-content: right;
        }
        #profile .text.t1{
            display: flex;
        }
        #profile .text dt {
            width: 100%;
            text-align: right;
        }
        #profile .text dd {
            margin-left: 1.5rem;
        }
        #profile .text dd:nth-child(2){
            margin-left: 10rem;
        }
    }

    @media only screen and (max-width: 700px){
        
        #profile {
            height: calc(100vh - 80px);
        }
    }
    
    @media only screen and (max-width: 499px){
    
        #profile{
            height: unset;
            min-height: unset;
            padding: 80px 0 120px;
        }
        #profile .container{
            width: 100vw;
            transform: unset;
            position: unset;
        }
        #profile .container .content{
            width: 100%;
            transform: unset;
            position: relative;
            top: unset;
            left: unset;
        }
        #profile .container .menu,
        #profile .back{
            display: none;
        }
        #profile .front{
            width: 100%;
            position: relative;
            right: 0;
            bottom: 0;
        }
        #profile .front ul li{
            width: 280px;
            aspect-ratio: 1 / 1.35;
            margin-bottom: 50px;
            position: relative;
            display: block;
        }
        #profile .front ul li:nth-child(2n+2){
            margin-left: calc(100% - 25rem);
        }
        #profile .textwrap{
            width: 100%;
            height: unset;
            position: absolute;
            top: 278px;
            left: 0;
        }
        #profile .text{
            width: unset;
            margin: 0;
            padding: 1.2rem;
            background-color: #ffffff;
            box-sizing: border-box;
            position: absolute;
            display: block;
        }
        #profile .text.t1,
        #profile .text.t3,
        #profile .text.t5{
            right: 0;
            display: block;
        }
        #profile .text.t2{
            top: 428px;
        }
        #profile .text.t3{
            top: 856px;
        }
        #profile .text.t4{
            top: 1284px;
        }
        #profile .text.t5{
            top: 1712px;
        }
        #profile .text dt{
            width: unset;
            text-align: left;
        }
        #profile .text dd{
            margin-left: unset;
        }
        #profile .text dd:nth-child(2) {
            margin-left: unset;
        }
    }
    
    
/**-------------------------------------**/










/**----------- 2.discography -----------**/
    #discography .container ul{
        display: flex;
        flex-wrap: wrap;
    }
    #discography .container ul li{
        width: 32%;
        margin-right: 2%;
        position: relative;
    }
    #discography .container ul li:nth-child(n+4){
        margin-top: 3rem;
    }
    #discography .container ul li:nth-child(3n+3){
        margin-right: 0;
    }
    #discography .container ul li img{
        margin-bottom: 0.8rem;
    }
    #discography .container ul li span{
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
    }
    #discography .container ul li p{
        margin-top: 0.1rem;
        font-size: 0.9rem;
        font-weight: 400;
    }
    #discography .container ul li a{
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-color: rgba(1, 1, 1, 0.5);
        position: absolute;
        top: 0;
        opacity: 0;
    }
    #discography .container ul li a img{
        width: 20%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0.7;
    }

    @media only screen and (max-width: 1024px){

        #discography .container ul li {
            width: 48%;
        }
        #discography .container ul li:nth-child(3){
            margin-top: 3rem;
        }
        #discography .container ul li:last-child{
            margin-right: 0;
        }
    }
    @media only screen and (max-width: 700px){

        #discography .container ul li,
        #gallery .container ul li{
            width: 100% !important;
            margin: 0 auto 1rem;
        }
        #discography .container ul li:nth-child(2){
            margin-top: 3.1rem;
        }
        #discography .container ul li img {
            margin-bottom: 1.3rem;
        }
        #discography .container ul li span {
            font-size: 1.4rem;
        }
        #discography .container ul li p {
            font-size: 1.3rem;
        }
    }
/**-------------------------------------**/










/**----------- 2-1.releases ------------**/
    #releases .pagination{
        margin-top: 2rem;
        font-size: 1.3rem;
        font-weight: 700;
    }
    #releases .prev img{
        width: 0.7rem;
        margin: 0.3rem 1.3rem 0 0;
    }
    #releases .cont{
        margin-bottom: 8rem;
    }
    #releases .cont h3{
        margin-bottom: 2rem;
        font-size: 1.3rem;
        text-align: center;
    }
    #releases .cont.c1{
        margin-top: 2rem;
    }
    #releases .cont.c1 ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #releases .cont.c1 ul li{
        width: 400px;
    }
    #releases .cont.c1 ul li:nth-child(2){
        width: calc(100% - 400px);
        padding: 1.8rem 0 0 2.5rem;
        box-sizing: border-box;
    }
    #releases .name{
        font-size: 1.3rem;
        font-weight: 700;
    }
    #releases .cont.c1 ul li h2{
        margin: 0.5rem 0;
        font-size: 2.2rem;
    }
    #releases .date{
        display: inline-block;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        font-weight: 500;
    }
    #releases .cont.c1 ul li p{
        margin-top: 1.3rem;
        font-size: 1.1rem;
    } 
    #releases .list {
        padding: 1.3rem 0;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }
    #releases .cont.c2 .title {
        display: flex;
    }
    #releases .cont.c2 .title span {
        margin: 0.6rem;
        padding: 0.6rem;
        font-size: 1.3rem;
        font-weight: 800;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    #releases .cont.c2 .title strong {
        margin-left: 0.6rem;
        font-size: 1rem;
        font-weight: 900;
        color: #DB1D64;
        position: relative;
    }
    #releases .cont.c2 .title .content {
        margin-left: 2rem;
        display: none;
    }
    #releases .cont.c2 .title .content p {
        margin: 1.3rem 0;
        font-size: 1.1rem;
    }
    #releases .cont.c3{
        position: relative;
    }
    #releases .cont.c3 ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #releases .cont.c3 ul li{
        width: 49.5%;
        margin: 0 auto;
    }
    #releases .cont.c3 ul li:nth-child(2) {
        margin-left: 1%;
    }
    #releases .more{
        font-size: 1rem;
        font-weight: 500;
        position: absolute;
        top: 0;
        right: 0;
    }
    #releases .cont.c4{
        margin-bottom: 0;
    }
    #releases .cont.c4 ul li{
        position: relative;
    }
    #releases .cont.c4 ul li a{
        display: block;
        width: 100%;
        aspect-ratio: 1.779 / 1;
        background-color: rgba(1, 1, 1, 0.5);
        position: absolute;
        top: 0;
        opacity: 0;
    }
    #releases .cont.c4 ul li a img{
        width: 10%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0.7;
    }
    #releases .cont.c4 ul li span{
        display: inline-block;
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    @media only screen and (max-width: 1024px){

        #releases .cont.c1 ul {
            display: block;
        }
        #releases .cont.c1 ul li {
            width: 100%;
        }
        #releases .cont.c1 ul li:nth-child(2) {
            width: 100%;
            padding: 1.8rem 0 0 0.6rem;
        }
        #releases .cont.c2 .title {
            display: block;
        }
    }
    @media only screen and (max-width: 950px){

        #releases br[class="off"]{
            display: block;
        }
    }
    @media only screen and (max-width: 700px){

        #releases .container{
            width: calc(100% - 80px);
        }
        #releases .cont.c3 ul li{
            width: 100%;
        }
        #releases .cont.c3 ul li:nth-child(2) {
            margin-top: 5%;
            margin-left: 0;
        }
    }
    @media only screen and (max-width: 499px){

        #releases .container{
            width: 100%;
        }
        #releases .pagination {
            width: 86%;
            margin-left: 7%;
        }
        #releases .cont{
            width: 86%;
            padding-left: 7%;
        }
        #releases .cont.c1{
            text-align: center;
        }
        #releases .cont.c1 ul,
        #releases .cont.c3 ul{
            display: block;
        }
        #releases .cont.c1 ul li,
        #releases .cont.c3 ul li{
            min-width: unset;
            width: 100%;
        }
        #releases .cont.c1 ul li:nth-child(2) {
            padding: 2rem 1rem;
        }
        #releases .list {
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        #releases .cont.c2 .title span {
            width: 100%;
            min-width: unset;
            margin: 0;
            font-weight: 700;
            text-align: center;
            box-sizing: border-box;
        }
        #releases .cont.c2 .title:last-child .content {
            border-bottom: unset;
        }
        #releases .cont.c2 .title .content {
            margin-left: 0;
            text-align: center;
        }
        #releases .cont.c3 ul li:nth-child(2) {
            margin-left: 0;
        }
    }
/**-------------------------------------**/










/**------------- 3.gallery -------------**/

    #gallery .container ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #gallery .container ul li{
        width: 19.6%;
        margin-bottom: 5px;
        display: flex;
        position: relative;
    }
    #gallery .container ul li:nth-child(n+11){
        width: 33%;
    }
    #gallery .container ul li:nth-child(11),
    #gallery .container ul li:nth-child(14){
        width: 22%;
    }
    #gallery .container ul li:nth-child(12),
    #gallery .container ul li:nth-child(15){
        width: 46.1%;
    }
    #gallery .container ul li:nth-child(13),
    #gallery .container ul li:nth-child(16){
        width: 30.7%;
    }
    #gallery .container ul li:nth-child(35),
    #gallery .container ul li:nth-child(37){
        width: 29.7%;
    }
    #gallery .container ul li:nth-child(36){
        width: 39.6%;
    }
    #gallery .container ul li:nth-child(n+38){
        width: 19.6%;
    }
    #gallery .container ul li:nth-child(48),
    #gallery .container ul li:nth-child(49){
        width: 37.2%;
    }
    #gallery .container ul li:nth-child(50){
        width: 24.8%;
    }
    #gallery .container ul li:nth-child(51),
    #gallery .container ul li:nth-child(52){
        width: 23.3%;
    }
    #gallery .container ul li:nth-child(53){
        width: 52.2%;
    }
    #gallery .container ul li:nth-child(64),
    #gallery .container ul li:nth-child(65){
        width: 22.5%;
    }
    #gallery .container ul li:nth-child(66){
        width: 30.7%;
    }
    #gallery .container ul li:nth-child(67){
        width: 23%;
    }
    #gallery .container ul li:nth-child(73){
        width: 27%;
    }
    #gallery .container ul li:nth-child(74),
    #gallery .container ul li:nth-child(75){
        width: 36%;
    }
    #gallery .container ul li:nth-child(86),
    #gallery .container ul li:nth-child(87){
        width: 37.4%;
    }
    #gallery .container ul li:nth-child(88){
        width: 24.6%;
    }
    #gallery .container ul li a{
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.5);
        position: absolute;
        opacity: 0;
    }
    #gallery .container ul li a img{
        width: 20%;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0.7;
    }
    .modal{
        width: 100vw;
        height: 100vh;
        background-color: rgba(1, 1, 1, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
    }
    .modal .modal-cont{
        width: 80%;
        height: 90vh;
        background: url(https://smoooss.github.io/plave/resource/img/gallery/image1.jpg) center/contain no-repeat;
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .modal .modal-btn{
        width: 40px;
        height: 120px;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        right: 0;
    }
    .modal .modal-btn ul li{
        cursor: pointer;
    }
    .modal .modal-btn img{
        padding: 5px;
        box-sizing: border-box;
        background-color: rgba(1, 1, 1, 0.5);
        opacity: 0.5;
    }
    .modal .modal-btn img:hover{
        opacity: 1;
    }

    @media only screen and (max-width: 499px){

        .modal .modal-cont{
            width: 100%;
        }
        .modal .modal-btn{
            width: 120px;
            height: 40px;
            transform: translate(0, 0);
            top: 0;
            right: 0;
            z-index: 1;
        }
        .modal .modal-btn ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .modal .modal-btn ul li{
            width: 40px;
            position: absolute;
        }
        .modal .modal-btn ul li:nth-child(2){
            right: 80px;
        }
        .modal .modal-btn ul li:nth-child(3){
            right: 40px;
        }
        .modal .modal-btn ul li:first-child{
            right: 0;
        }
        .modal .modal-btn img{
            opacity: 1;
        }   
    }
/**-------------------------------------**/










/**--------------- 4.video -------------**/
    #video .container .menu {
        max-width: 1470px;
        width: 87%;
        padding: 20px 20%;
        box-sizing: border-box;
        background-color: #ffffff;
        position: fixed;
        transform: translate(-50%, 0);
        top: 100px;
        left: 50%;
        z-index: 1;
    }
    #video .container .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #video .container .menu a{
        font-size: 1.1rem;
        font-weight: 500;
        color: #dddddd;
    }
    #video .container .menu .first{
        font-weight: 700;
        color: #333333;
    }
    #video .content::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    #video .content::-webkit-scrollbar-trac{
        background-color:transparent;
    }
    #video .content::-webkit-scrollbar-thumb{
        border-radius: 3px;
        background-color: #666666;
    }
    #video .content::-webkit-scrollbar-button{
        width: 0;
        height: 0;
    }
    #video .content::-webkit-scrollbar-corner{
        width: 0;
        height: 0;
    }
    #video .content{
        position: relative;
        top: 50px;
    }
    #video .content ul{
        display: flex;
        flex-wrap: wrap;
    }
    #video .content ul li{
        width: 32.5%;
        margin: 0 1.25% 2.5rem 0;
        position: relative;
    }
    #video .content ul li:nth-child(3n){
        margin-right: 0;
    }
    #video .content ul li a{
        display: block;
        width: 100%;
        aspect-ratio: 1.775 / 1;
        background-color: rgba(1, 1, 1, 0.5);
        border-radius: 10px;
        position: absolute;
        top: 0;
        opacity: 0;
    }
    #video .content ul li a img{
        width: 15%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        opacity: 0.7;
    }
    #video .content ul li img{
        margin-bottom: 0.8rem;
        border-radius: 10px;
    }
    #video .content ul li span{
        font-size: 0.9rem;
    }

    @media only screen and (max-width: 1024px){

        #video .container .menu {
            padding: 20px 15%;
        }
        #video .content ul li {
            width: 49%;
            margin-right: 2% !important;
        }
        #video .content ul li:nth-child(2n) {
            margin-right: 0 !important;
        }
    }
    @media only screen and (max-width: 700px){

        #video .container .menu {
            width: 100%;
            padding: 15px 60px;
        }
        #video .content {
            top: 40px;
        }
        #video .content ul li {
            width: 100% !important;
            margin-right: 0 !important;
        }
    }
    @media only screen and (max-width: 499px){

        #video .container .menu {
            width: 100%;
            padding: 20px 8% 10px;
            box-sizing: border-box;
            background-color: #ffffff;
            position: fixed;
            top: 70px;
            z-index: 2;
        }
        #video .container .menu ul li{
            font-size: 13px;
        }
        #video .content ul{
            display: block;
        }
        #video .content ul li{
            margin-left: 0;
        }
        #video .cont.c1 ul li:last-child,
        #video .cont.c2 ul li:last-child,
        #video .cont.c3 ul li:last-child,
        #video .cont.c4 ul li:last-child,
        #video .cont.c5 ul li:last-child{
            margin-bottom: 0;
        }
        #video .content ul li span{
            font-size: 1rem;
        }
    }  
/**-------------------------------------**/










/**-------------- 5.notice -------------**/
    br[class="off"]{
        display: none;
    }
    br[class="on"]{
        display: block;
    }
    br[class="off-img"]{
        display: none;
    }
    #notice .search-container {
        border: 1px solid #cccccc;
        position: absolute;
        top: 13px;
        right: 0;
    }
    #notice .search-container input {
        border: none;
        padding: 0.2rem;
        box-sizing: border-box;
        font-size: 1rem;
        background-color: unset;
    }
    #notice .menu a {
        margin: 1.3rem 0.65rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #dddddd;
        display: inline-block;
    }
    #notice .menu .first {
        font-weight: 700;
        color: #333333;
    }
    #notice .menu a:first-child{
        margin-left: 1.3rem;
    }
    #notice .container .wrapper {
        position: relative;
    }
    #notice .titlewrapper {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }
    #notice .title {
        border-top: 0.5px solid #000000;
        border-bottom: 0.5px solid #000000;
        cursor: pointer;
    }
    #notice .title > span {
        display: inline-block;
        padding: 1.3rem 1.3rem 0;
        font-size: 1.3rem;
        font-weight: 800;
    }
    #notice .title > p {
        margin-top: 0.3rem;
        padding: 0 0 1.3rem 1.3rem;
        font-size: 1rem;
        font-weight: 500;
    }
    #notice .content{
        width: 100%;
        margin: 0 auto;
        border-top: 0.5px solid #000000;
        border-bottom: 0.5px solid #000000;
        box-sizing: border-box;
        padding: 1.5rem 1.3rem 1rem;
        cursor: auto;
        display: none;
    }
    #notice .content p {
        margin-bottom: 1.3rem;
        font-size: 1rem;
    }
    #notice .seemore{
        display: inline-block;
        font-weight: 900;
        color: #0055ff;
        text-decoration-line: underline;
    }
    #notice .content img{
        width: unset;
        height: 39vw;
        max-height: 695px;
        padding-bottom: 1.3rem;
    }
    #notice .content a{
        width: fit-content;
        display: inline-block;
        position: relative;
    }
    #notice .content a img:nth-child(2){
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 8%;
    }
    #notice .content iframe{
        height: 46vw;
        max-height: 695px;
        aspect-ratio: 0.56 / 1;
    }
    .guidewrap{
        text-align: left;
    }
    .guide{
        margin-top: 1.3rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .guide li{
        width: 33.5%;
    }
    .guide li:last-child{
        width: 33%;
    }
    .guide .guidetitle{
        width: 100%;
        padding: 2rem;
        font-size: 1.3rem;
        font-weight: 700;
	text-align: center;
        color: #ffffff;
    }
    .guide p{
        margin: 2rem 0 2rem 2rem;
    }
    .guide span{
        font-weight: 700;
    }
    .guide.g1 .guidetitle{
        background-color: #9500ff;
    }
    .guide.g1{
        border: solid 5px #9500ff;
    }
    .guide.g1 p span{
        color: #9500ff;
    }
    .guide.g2 .guidetitle{
        background-color: #ff00cc;
    }
    .guide.g2{
        border: solid 5px #ff00cc;
    }
    .guide.g2 p span{
        color: #ff00cc;
    }
    .guide.g3 .guidetitle{
        background-color: #ff0000;
    }
    .guide.g3{
        border: solid 5px #ff0000;
    }
    .guide.g3 p span{
        color: #ff0000;
    }
    .guide.g4 .guidetitle{
        background-color: #06b500;
    }
    .guide.g4{
        border: solid 5px #06b500;
    }
    .guide.g4 p span{
        color: #06b500;
    }
    .guide.g5 .guidetitle{
        background-color: #0055ff;
    }
    .guide.g5{
        border: solid 5px #0055ff;
    }
    .guide.g5 p span{
        color: #0055ff;
    }
    .guide.g6 .guidetitle{
        background-color: #ff9100;
    }
    .guide.g6{
        border: solid 5px #ff9100;
    }
    .guide.g6 p span{
        color: #ff9100;
    }
    #notice .pagination {
        width: 14rem;
        margin-top: 2.5rem;
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
    }
    #notice .pagination span:nth-child(2) {
        padding: 0.6rem;
    }
    #notice .arrow {
        cursor: pointer;
    }
    #notice .arrow img{
        width: 0.9rem;
        padding: 0.7rem;
    }

    @media only screen and (max-width: 700px){

        #notice br[class="off"]{
            display: block;
        }
        #notice br[class="on"]{
            display: none;
        }
        #notice .content{
            text-align: center;
        }
        #notice .content.off p{
            text-align: left;
        }
    }
    @media only screen and (max-width: 499px){

        #notice .search-container {
            top: 30px;
        }
        #notice .search-container input {
            height: 22px;
        }
        #notice .titlewrapper {
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        #notice .container {
            padding-top: 60px;
        }
        #notice .wrapper{
            padding: 20px 0 30px;
            box-sizing: border-box;
        }
        #notice .content img,
        #notice .content iframe{
            width: 100%;
            height: unset;
        }
        #notice .content a{
            width: 100%;
        }
        #notice .content a img:nth-child(2){
            transform: translate(-50%, -50%);
            top: 50%;
        }
        .guidetitle{
            text-align: center;
        }
        .guide li{
            width: 100%;
        }
        .guide li:last-child{
            width: 100%;
        }
        .guide p{
            margin-left: 0;
            margin-bottom: 0;
            text-align: center;
        }
        .guide p:last-child{
            margin-bottom: 1.3rem;
        }
        .guide.g1{
            border: solid 3px #9500ff;
        }
        .guide.g2{
            border: solid 3px #ff00cc;
        }
        .guide.g3{
            border: solid 3px #ff0000;
        }
        .guide.g4{
            border: solid 3px #06b500;
        }
        .guide.g5{
            border: solid 3px #0055ff;
        }
        .guide.g6{
            border: solid 3px #ff9100;
        }
        #notice .video{
            width: 100%;
            height: 193px;
        }
        #notice .pagination {
            margin: 0;
        }
        #notice footer{
            z-index: 3;
        }
    }
/**-------------------------------------**/










/**------------- 6.schedule ------------**/
    #schedule{
        height: 100vh;
        min-height: 1000px;
        position: relative;
        z-index: 2;
    }
    #schedule .container{
        padding: 150px 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 52%;
        left: 50%;
    }
    #schedule .wrapper{
        position: relative;
    }
    #schedule .pagination {
        width: 25%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        transform: translate(-50%, 0);
        left: 20%;
        z-index: 1;
    }
    #schedule .arrow {
        width: 0.8rem;
        cursor: pointer;
    }
    #schedule .calendar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    #schedule .calendar.c1{
        display: none;
    }
    #schedule .cont.c1{
        width: 40%;
        text-align: center;
    }
    #schedule .cont h2{
        font-size: 1.6rem;
        line-height: 1;
        text-align: center;
    }
    #schedule .week{
        margin: 2rem 0 1.5rem;
    }
    #schedule .week ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #schedule .week ul li{
        width: 14%;
        font-size: 1rem;
        font-weight: 700;
    }
    #schedule .date ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #schedule .date ul:nth-child(n+2){
        display: none;
    }
    #schedule .date ul li{
        width: 8%;
        aspect-ratio: 1 / 1;
        margin: 3.1%;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
        align-items: center;
        line-height: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    #schedule .date .none{
        cursor: auto;
    }
    #schedule .date .have{
        border-radius: 50%;
        background-color: #333333;
        color: #ffffff;
    }
    #schedule .have.anniversary{
        background: linear-gradient(to bottom left, #ff0000, #ff0000, #ff00cc, #9500ff, #0055ff, #06b500, #06b500);
    }
    #schedule .cont.c2{
        width: 55%;
        height: 100%;
    }
    #schedule .cont.c2 ul li span{
        display: grid;
        width: 1rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.6rem;
        font-weight: 700;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 0.2rem;
        left: 0px;
    }
    #schedule .cont.c2 .type ul li span{
        top: 0.1rem;
    }
    #schedule .type{
        margin: 1.3rem auto 8%;
        border-bottom: 1px solid #333333;
    }
    #schedule .type ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    #schedule .type ul li{
        margin: 0 0 10px 15px;
        padding-left: 1.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        position: relative;
    }
    #schedule .type ul li:first-child{
        margin-left: 0;
    }
    #schedule .scroll{
        width: 100%;
        aspect-ratio: 2.15 / 1;
        padding-right: 1.5rem;
        box-sizing: border-box;
        overflow-y: scroll;
    }
    #schedule .scroll::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    #schedule .scroll::-webkit-scrollbar-trac{
        background-color:transparent;
    }
    #schedule .scroll::-webkit-scrollbar-thumb{
        border-radius: 3px;
        background-color: #666666;
    }
    #schedule .scroll::-webkit-scrollbar-button{
        width: 0;
        height: 0;
    }
    #schedule .scroll::-webkit-scrollbar-corner{
        width: 0;
        height: 0;
    }
    #schedule .schedule ul li:last-child{
        margin-bottom: 2.5rem;
    }
    #schedule .schedule ul li{
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        font-weight: 600;
        position: relative;
    }
    #schedule .last{
        margin-bottom: 0 !important;
    }
    #schedule .schedule ul li span{
        line-height: 0;
        top: 3px;
    }
    #schedule .schedule .have{
        padding-left: 1.7rem;
    }
    #schedule .schedule .have a:hover{
	text-decoration: underline;
    }
    #schedule .live{
        background-color: #0055ff50;
    }
    #schedule .content{
        background-color: #9500ff50;
    }
    #schedule .show{
        background-color: #ff00cc50;
    }
    #schedule .releases{
        background-color: #ff000050;
    }
    #schedule .anniversary{
        background-color: #06b50050;
    }

    @media only screen and (max-width: 1900px){

        #schedule {
            height: calc(100vh - 70px);
            min-height: 930px;
        }
    }
    @media only screen and (max-width: 1400px){

        #schedule .container{
            width: 86%;
        }
    }
    @media only screen and (max-width: 950px){

        #schedule{
            min-height: 1100px;
            position: relative;
        }
        #schedule .container {
            position: unset;
            transform: unset;
            top: unset;
            left: unset;
        }
        #schedule .pagination {
            width: 40%;
            left: 50%;
        }
        #schedule .calendar {
            display: block;
        }
        #schedule .cont.c1,
        #schedule .cont.c2 {
            max-width: 500px;
            width: 100%;
            margin: 0 auto;
        }
        #schedule .cont.c2 {
            margin-top: 4.5rem;
        }
        #schedule .cont.c2 h2{
            display: none;
        }
        #schedule .type ul li {
            margin: 0 0 3% 3%;
        }
        #schedule .scroll {
            padding: 0 0.7rem;
        }
    }
    @media only screen and (max-width: 499px){

        #schedule {
            min-height: 670px;
        }
        #schedule .container{
            height: unset;
            display: block;
            position: unset;
            transform: unset;
            padding: 80px 0;
        }
        #schedule .pagination{
            left: 50%;
        }
        #schedule .cont{
            height: unset;
        }
        #schedule .week ul li{
            width: 8%;
            font-weight: 600;
        }
        #schedule .date ul li:nth-child(7n+1){
            margin-left: 0.5%;
        }
        #schedule .date ul li:nth-child(7n+7){
            margin-right: 0.5%;
        }
        #schedule .cont.c2 {
            height: unset;
        }
        #schedule .cont.c2 h2{
            display: none;
        }
        #schedule .type{
            margin-bottom: 5%;
        }
        #schedule .cont.c2 ul li span{
            width: 3.4vw;
            font-weight: 700;
            top: 0.1rem;
        }
        #schedule .cont.c2 .type ul li span{
            top: 0;
        }
        #schedule .scroll{
            overflow-y: unset;
        }
        #schedule .schedule ul{
            display: none;
        }
        #schedule .schedule ul li{
            margin-bottom: 0.5rem;
        }
        #schedule .schedule ul li:first-child {
            margin-bottom: 0.5rem;
        }
        #schedule .schedule .first{
            display: block;
        }
        #schedule .schedule ul li span{
            top: 1px;
        }
    }

/**-------------------------------------**/
