@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Montserrat", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align: top;
}
body {
    touch-action: manipulation; /* 확대나 기타 터치 제스처 방지 */
}





#wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}





header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.header{
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}
.header .logo{
    width: 100px;
    margin-top: 50px;
}
.header a{
    height: 20px;
    display: inline-block;
}
.header .logo img{
    width: 100%;
}
.header .menu{
    width: 30px;
    height: 20px;
    margin-top: 45px;
    display: block;
    cursor: pointer;
}
.header .menu img{
    width: 100%;
}





nav{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav .top{
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
nav .top .logo{
    width: 100px;
    margin-top: 50px;
}
nav .top a{
    height: 20px;
    display: inline-block;
}
nav .top .logo img{
    width: 100%;
}
nav .top .close{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 50px;
    cursor: pointer;
}
nav .top .close img{
    width: 100%;
}
nav ul{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
nav ul li{
    margin: 20px 0;
    text-align: center;
}
nav ul li a{
    font-size: 35px;
    font-weight: 800;
}
nav .link{
    width: 20px;
    position: absolute;
    bottom: 35px;
    left: 40px;
}
nav .link img{
    margin-bottom: 20px;
}





main{
    width: 100%;
    height: 100vh;
    position: relative;
}
main .container{
    width: 100%;
    height: 100%;
    background-image: url(../img/main3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
main .container .content{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
}
main .container .content .text{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 40px;
    transition: 0.5s;
    opacity: 0;
}
main .container .content .text a{
    width: 100%;
    color: #ffffff;
    font-weight: 500;
    text-align: right;
    display: block;
}
main .container .content .text a:nth-child(1){
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
main .container .content .text a:nth-child(2){
    margin-top: 15px;
    font-size: 35px;
    line-height: 40px;
}
main .container .content .text a:nth-child(4){
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
main .container .content .text a:nth-child(5){
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
main .container .content .text span{
    width: 50%;
    height: 2px;
    margin: 40px 0 40px 50%;
    background-color: #ffffff;
    display: block;
}
main .link{
    width: 20px;
    position: fixed;
    bottom: 35px;
    left: 40px;
    z-index: 2;
}
main .link .bl{
    display: none;
}
main .link img{
    margin-bottom: 20px;
}







footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.footer{
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.footer p{
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
}
.footer img{
    width: 40px;
    margin: 0 5px;
}







@media only screen and (max-width:1400px){

    main .link{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        bottom: 50px;
    }
    main .link a{
        width: 20px;
    }
    main .link img{
        margin-bottom: 0;
    }
}

@media only screen and (max-width:1024px){

    main .container{
        background-image: url(../img/main4.jpg);
        background-position: center top;
    }
    main .container .content .text a:nth-child(1) {
        font-size: 35px;
        line-height: 55px;
    }
    main .container .content .text a:nth-child(2) {
        margin-top: 10px;
        font-size: 30px;
        line-height: 30px;
    }
    main .container .content .text span{
        margin: 30px 0 30px 50%;
    }
    main .container .content .text a:nth-child(4){
        font-size: 18px;
        line-height: 20px;
    }
    main .container .content .text a:nth-child(5) {
        font-size: 13px;
    }
}

@media only screen and (max-width:700px){

    main{
        min-height: 950px;
    }
    main .link{
        transform: translate(-50%, -50%);
        left: 50%;
        position: relative;
        bottom: 100px;
    }
    footer{
        height: 0;
        position: relative;
        bottom: 70px;
    }
    .footer{
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width:499px){

    #wrap{
        min-width: 100%;
    }
    .header{
        width: 86%;
    }
    .header .logo{
        width: 80px;
        margin-top: 32px;
    }
    .header .menu{
        width: 25px;
        margin-top: 27px;
    }
    nav .top{
        width: 86%;
    }
    nav .top .logo{
        width: 80px;
        margin-top: 32px;
    }
    nav .top .close{
        width: 17px;
        margin-top: 30px;
    }
    nav ul{
        top: 45%;
    }
    nav ul li a{
        font-size: 25px;
        font-weight: 700;
    }
    main{
        min-height: unset;
    }
    main .container{
        background-image: url(../img/m_main3.jpg);
        background-position: bottom;
    }
    main .container .content .text{
        width: fit-content;
        transform: translate(0, 0);
        top: unset;
        right: 7%;
        bottom: 20%;
    }
    main .container .content .text a:nth-child(1){
        font-size: 6vw;
        line-height: 40px;
    }
    main .container .content .text a:nth-child(2) {
        margin-top: 2%;
        font-size: 4.5vw;
        line-height: unset;
    }
    main .container .content .text a:nth-child(n+4),
    main .link{
        width: 70%;
        bottom: 60px;
        display: none;
    }
    main .link a{
        display: block;
        width: 6%;
    }
    main .link img{
        margin-bottom: 0;
    }
    main .container .content .text span{
        width: 50%;
        margin: 8% 0;
        right: 0;
        position: absolute;
    }
    footer {
        height: 40px;
        position: fixed;
        bottom: 0;
    }
    .footer p {
        font-size: 2.5vw;
    }
    .footer img {
        width: 9%;
    }
}
