@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Montserrat", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align: top;
}





#wrap{
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
    position: relative;
}




#header{
    width: 100%;
    position: absolute;
    z-index: 1;
}
#header .header{
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
#header .header .logo{
    width: 100px;
    margin-top: 50px;
}
#header .header a{
    height: 20px;
    display: inline-block;
}
#header .header .logo img{
    width: 100%;
}
#header .header .menu{
    display: block;
    width: 30px;
    height: 20px;
    margin-top: 45px;
    cursor: pointer;
}
#header .header .menu img{
    width: 100%;
}




#main{
    width: 100%;
    height: 100vh;
    position: relative;
}
#main .back{
    width: 100%;
    height: 100%;
    background-image: url(../img/main2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#main .front{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    position: absolute;
}
#main .front .text{
    width: 425px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 40px;
    transition: 0.5s;
    opacity: 0;
}
#main .front .text a{
    display: inline-block;
    width: 100%;
    color: #ffffff;
    text-align: right;
    font-weight: 500;
}
#main .front .text a:nth-child(1){
    font-size: 50px;
    font-weight: 700;
}
#main .front .text a:nth-child(2){
    margin-top: 10px;
    font-size: 35px;
}
#main .front .text a:nth-child(4){
    font-size: 20px;
}
#main .front .text a:nth-child(5){
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
#main .front .text span{
    display: block;
    width: 300px;
    height: 2px;
    margin: 30px 0;
    background-color: #ffffff;
    position: relative;
    left: 30%;
}
#main .link{
    width: 20px;
    position: absolute;
    bottom: 35px;
    left: 40px;
}
#main .link img{
    margin-bottom: 20px;
}





#nav{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
}
#nav .top{
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
#nav .top .logo{
    width: 100px;
    margin-top: 50px;
}
#nav .top a{
    height: 20px;
    display: inline-block;
}
#nav .top .logo img{
    width: 100%;
}
#nav .top .close{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 50px;
    cursor: pointer;
}
#nav .top .close img{
    width: 100%;
}
#nav ul{
    width: 275px;
    height: 275px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}
#nav ul li{
    margin: 20px 0;
    text-align: center;
}
#nav ul li a{
    font-size: 35px;
    font-weight: 800;
}
#nav .link{
    width: 20px;
    position: absolute;
    bottom: 35px;
    left: 40px;
}
#nav .link img{
    margin-bottom: 20px;
}





#footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#footer .footer{
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: relative;
}
#footer .footer p{
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
}
#footer .footer img{
    width: 40px;
    margin: 0 5px;
}







@media only screen and (max-width:499px){

    #wrap{
        min-width: 100%;
    }
    #header .header{
        width: 86%;
    }
    #header .header .logo{
        width: 80px;
        margin-top: 32px;
    }
    #header .header .menu{
        width: 25px;
        margin-top: 27px;
    }
    #main .back{
        background-image: url(../img/main02.jpg);
        background-position: bottom;
    }
    #main .front .text{
        width: 70%;
        top: 70%;
        right: 7%;
    }
    #main .front .text a:nth-child(1){
        font-size: 30px;
    }
    #main .front .text a:nth-child(2){
        margin-top: 10px;
        font-size: 25px;
    }
    #main .front .text a:nth-child(n+3),
    #main .link{
        display: none;
    }
    #main .front .text span{
        width: 50%;
        left: unset;
        right: 0;
        position: absolute;
    }

    #nav .top{
        width: 86%;
    }
    #nav .top .logo{
        width: 80px;
        margin-top: 32px;
    }
    #nav .top .close{
        width: 17px;
        margin-top: 30px;
    }
    #nav ul{
        width: 60%;
        height: unset;
    }
    #nav ul li {
        margin: 15px 0;
    }
    #nav ul li a{
        font-size: 25px;
        font-weight: 700;
    }
    #nav .link{
        width: 70%;
        position: fixed;
        bottom: 60px;
        left: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #nav .link a{
        display: block;
        width: 6%;
    }
    #nav .link img{
        margin-bottom: 0;
    }

    #footer{
        height: 40px;
    }
    #footer .footer{
        width: 100%;
        justify-content: center;
    }
}
