@charset "UTF-8";

main{
    height: calc(100vh - 70px);
    position: relative;
}
main .container{
    width: 47rem;
    height: 35rem;
    margin: unset;
    padding: unset;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 50%;
}
main .container .menu{
    width: fit-content;
}
main .container .menu ul li{
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
}
main .container .menu ul li:first-child{
    font-size: 1rem;
    font-weight: 700;
}
main .container .menu ul li:hover{
    letter-spacing: 0.5px;
    transition: 0.2s;
}
main .container .content{
    width: 27rem;
    aspect-ratio: 1 / 1.3;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 5.5rem;
}
main .container .content .back{
    width: 24rem;
    aspect-ratio: 1 / 1.35;
    background-color: #333333;
}
main .container .content .front{
    width: 24rem;
    aspect-ratio: 1 / 1.35;
    position: absolute;
    right: 0;
    bottom: 0;
}
main .container .content .front ul li{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;
}
main .container .content .front ul li:nth-child(1){
    display: block;
    background-image: url(https://smoooss.github.io/plave/gallery/img/content54.jpg);
}
main .container .content .front ul li:nth-child(2){
    background-image: url(https://smoooss.github.io/plave/gallery/img/content55.jpg);
}
main .container .content .front ul li:nth-child(3){
    background-image: url(https://smoooss.github.io/plave/gallery/img/content56.jpg);
}
main .container .content .front ul li:nth-child(4){
    background-image: url(https://smoooss.github.io/plave/gallery/img/content57.jpg);
}
main .container .content .front ul li:nth-child(5){
    background-image: url(https://smoooss.github.io/plave/gallery/img/content58.jpg);
}
main .container .textwrap{
    position: absolute;
    left: 74%;
    bottom: 0;
}
main .container .textwrap .text{
    display: none;
}
main .container .textwrap .text dt{
    font-size: 2.5rem;
    font-weight: 700;
}
main .container .textwrap .text dd{
    font-size: 1.2rem;
    font-weight: 500;
}
main .container .textwrap .text.t1{
    display: block;
}





@media only screen and (max-width:1400px){

    main{
        min-height: 950px;
    }
    main .link{
        position: absolute;
        bottom: -15px;
    }
}

@media only screen and (max-width:800px){

    main .container {
        width: 27rem;
        height: unset;
        top: 50%;
    }
    main .container .menu{
        width: 24rem;
    }
    main .container .menu ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main .container .menu ul li{
        text-align: left;
    }
    main .container .content{
        position: relative;
        transform: unset;
        top: 0;
        left: 0;
    }
    main .container .textwrap {
        width: unset;
        height: unset;
        position: unset;
    }
    main .container .textwrap .text {
        margin-top: 1rem;
        position: unset;
        display: none;
        flex-wrap: wrap;
        justify-content: right;
    }
    main .container .textwrap .text.t1{
        display: flex;
    }
    main .container .textwrap .text dt {
        width: 100%;
        text-align: right;
    }
    main .container .textwrap .text dd {
        margin-left: 1.5rem;
    }
    main .container .textwrap .text dd:nth-child(2){
        margin-left: 13rem;
    }
    main .link{
        bottom: 20px;
    }
    footer{
        position: relative;
    }
}

@media only screen and (max-width:499px){

    main{
        height: unset;
        min-height: unset;
        padding: 80px 0 120px;
    }
    main .container{
        width: 100vw;
        transform: unset;
        position: unset;
    }
    main .container .content{
        width: 100%;
        transform: unset;
        position: relative;
        top: unset;
        left: unset;
    }
    main .container .menu,
    main .container .content .back{
        display: none;
    }
    main .container .content .front{
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
    }
    main .container .content .front ul li{
        width: 280px;
        aspect-ratio: 1 / 1.35;
        margin-bottom: 50px;
        position: relative;
        display: block;
    }
    main .container .content .front ul li:nth-child(2n+2){
        margin-left: calc(100% - 25rem);
    }
    main .container .textwrap{
        width: 100%;
        height: unset;
        position: absolute;
        top: 278px;
        left: 0;
    }
    main .container .textwrap .text{
        width: unset;
        margin: 0;
        padding: 1.2rem;
        background-color: #ffffff;
        box-sizing: border-box;
        position: absolute;
        display: block;
    }
    main .container .textwrap .text.t1,
    main .container .textwrap .text.t3,
    main .container .textwrap .text.t5{
        right: 0;
        display: block;
    }
    main .container .textwrap .text.t2{
        top: 428px;
    }
    main .container .textwrap .text.t3{
        top: 856px;
    }
    main .container .textwrap .text.t4{
        top: 1284px;
    }
    main .container .textwrap .text.t5{
        top: 1712px;
    }
    main .container .textwrap .text dt{
        width: unset;
        text-align: left;
    }
    main .container .textwrap .text dd{
        margin-left: unset;
    }
    main .container .textwrap .text dd:nth-child(2) {
        margin-left: unset;
    }
    main .link {
        bottom: 20px;
    }
}
