@charset "UTF-8";




#main-ad .main{
    background-image: url(../img/main_ad.jpg);
}



#title{
    width: 100%;;
    margin-top: 140px;
    transition: 0.5s;
    opacity: 0;
}
#title h2{
    margin: 0 auto;
    font-family: 'Cormorant Infant', serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
#title p{
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

#main-cont{
    width: 100%;
    margin-top: 140px;
}
#main-cont .cont{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
#main-cont .cont ul{
    margin: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main-cont .cont ul li{
    width: 600px;
    margin-bottom: 90px;
    transition: 0.5s;
    opacity: 0;
}
#main-cont .cont ul li:nth-child(17){
    margin-bottom: 30px;
}
#main-cont .cont ul li .img{
    width: 600px;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.5s;
}
#main-cont .cont ul li .img.i1{
    background-image: url(../img/cont01.jpg);
}
#main-cont .cont ul li .img.i2{
    background-image: url(../img/cont02.jpg);
}
#main-cont .cont ul li .img.i3{
    background-image: url(../img/cont03.jpg);
}
#main-cont .cont ul li .img.i4{
    background-image: url(../img/cont04.jpg);
}
#main-cont .cont ul li .img.i5{
    background-image: url(../img/cont05.jpg);
}
#main-cont .cont ul li .img.i6{
    background-image: url(../img/cont06.jpg);
}
#main-cont .cont ul li .img.i7{
    background-image: url(../img/cont07.jpg);
}
#main-cont .cont ul li .img.i8{
    background-image: url(../img/cont08.jpg);
}
#main-cont .cont ul li .img.i9{
    background-image: url(../img/cont09.jpg);
}
#main-cont .cont ul li .img.i10{
    background-image: url(../img/cont10.jpg);
}
#main-cont .cont ul li .img.i11{
    background-image: url(../img/cont11.jpg);
}
#main-cont .cont ul li .img.i12{
    background-image: url(../img/cont12.jpg);
}
#main-cont .cont ul li .img.i13{
    background-image: url(../img/cont13.jpg);
}
#main-cont .cont ul li .img.i14{
    background-image: url(../img/cont14.jpg);
}
#main-cont .cont ul li .img.i15{
    background-image: url(../img/cont15.jpg);
}
#main-cont .cont ul li .img.i16{
    background-image: url(../img/cont16.jpg);
}
#main-cont .cont ul li .img.i17{
    background-image: url(../img/cont17.jpg);
}
#main-cont .cont ul li span{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
    font-size: 35px;
}
#main-cont .cont ul li p{
    line-height: 25px;
    font-weight: 300;
}
#footer {
    margin-top: 250px;
}





@media only screen and (max-width:1400px){

    #title{
        margin-top: 130px;
    }
    #main-cont{
        margin-top: 130px;
    }
    #main-cont .cont ul{
        margin: 0 7%;
        transition: 0.5s;
    }
    #main-cont .cont ul li{
        width: 48%;
        transition: 0.5s;
    }
    #main-cont .cont ul li .img{
        width: 100%;
    }
    #main-cont .cont ul li span{
        margin-top: 25px;
        font-size: 33px;
        transition: 0.5s;
    }
    #main-cont .cont ul li p{
        font-size: 16px;
        line-height: 23px;
        transition: 0.5s;
    }
}

@media only screen and (max-width:1280px){

    #title{
        margin-top: 120px;
    }
    #title h2{
        font-size: 30px;
        transition: 0.5s;
    }
    #title p{
        font-size: 15px;
        transition: 0.5s;
    }
    #main-cont{
        margin-top: 120px;
    }
    #main-cont h3{
        font-size: 47px;
    }
    #main-cont{
        margin-top: 120px;
    }
    #main-cont .cont ul li{
        margin-bottom: 80px;
        transition: 0.5s;
    }
    #main-cont .cont ul li span{
        margin-top: 20px;
        font-size: 32px;
    }
    #main-cont .cont ul li p{
        font-size: 15px;
        line-height: 21px;
    }
    #footer{
        margin-top: 240px;
        transition: 0.5s;
    }
}

@media only screen and (max-width:1024px){

    #title{
        margin-top: 110px;
    }
    #title h2{
        font-size: 27px;
    }
    #title p{
        font-size: 14px;
    }
    #main-cont{
        margin-top: 110px;
    }
    #main-cont .cont ul li span{
        margin-bottom: 5px;
        font-size: 30px;
    }
    #main-cont .cont ul li p{
        font-size: 14px;
    }
    #footer{
        margin-top: 230px;
    }
}

@media only screen and (max-width:800px){

    #title{
        margin-top: 90px;
    }
    #title h2{
        font-size: 23px;
    }
    #title p{
        font-size: 13px;
    }
    #main-cont{
        margin-top: 90px;
    }
    #main-cont .cont ul li{
        margin-bottom: 70px;
    }
    #main-cont .cont ul li span{
        font-size: 29px;
    }
    #main-cont .cont ul li p{
        font-size: 13px;
        line-height: 19px;
    }
    #footer{
        margin-top: 220px;
    }
}

@media only screen and (max-width:640px){

    #title{
        margin-top: 70px;
    }
    #title h2{
        font-size: 20px;
    }
    #title p{
        font-size: 12px;
    }
    #main-cont{
        margin-top: 70px;
    }
    #main-cont .cont ul{
        display: unset;
    }
    #main-cont .cont ul li{
        width: 86%;
        margin-left: 7%;
    }
    #main-cont .cont ul li:nth-child(2n+2){
        margin-left: 7%;
    }
    #main-cont .cont ul li span{
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    #main-cont .cont ul li p{
        font-size: 14px;
        line-height: 21px;
    }
    #footer{
        margin-top: 210px;
    }
}

@media only screen and (max-width:499px){

    #title h2{
        font-size: 17px;
    }
    #title p{
        margin-top: 30px;
        font-size: 11px;
        line-height: 15px;
    }
    #main-cont .cont ul li{
        width: 90%;
        margin-left: 5%;
    }
    #main-cont .cont ul li:nth-child(2n+2){
        margin-left: 5%;
    }
    #main-cont .cont ul li span{
        margin-bottom: 5px;
        font-size: 24px;
    }
    #main-cont .cont ul li p{
        font-size: 12px;
        line-height: 17px;
    }
}