@charset "UTF-8";

br[class="off"]{
    display: none;
}
.pagination{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.prev img{
    width: 11px;
    margin-right: 17px;
}
main .container .cont{
    margin-bottom: 150px;
}
main .container .cont h3{
    margin-bottom: 30px;
    text-align: center;
}
main .container .cont.c1{
    margin-top: 30px;
}
main .container .cont.c1 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .container .cont.c1 ul li{
    width: 50%;
}
main .container .cont.c1 ul li:nth-child(2){
    padding: 30px 0 0 40px;
    box-sizing: border-box;
}
main .container .cont.c1 ul li .name{
    font-size: 20px;
    font-weight: 700;
}
main .container .cont.c1 ul li h2{
    margin: 13px 0;
    font-size: 35px;
}
main .container .cont.c1 ul li .date{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}
main .container .cont.c1 ul li p{
    margin-top: 20px;
    font-size: 17px;
    line-height: 27px;
    word-spacing: 1.5px;
    letter-spacing: -0.5px;
}


main .container .cont.c2 .list {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
main .container .cont.c2 .title {
    display: flex;
}
main .container .cont.c2 .title:first-child {
    margin-top: 20px;
}
main .container .cont.c2 .title:last-child {
    margin-bottom: 20px;
}
main .container .cont.c2 .title span {
    min-width: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
main .container .cont.c2 .title strong {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 900;
    color: #DB1D64;
    position: relative;
    top: -1px;
}
main .container .cont.c2 .title .content {
    margin-left: 30px;
    display: none;
}
main .container .cont.c2 .title .content p {
    margin: 20px 0;
    font-size: 17px;
    line-height: 27px;
    word-spacing: 1.5px;
    letter-spacing: -0.5px;
}
main .container .cont.c3{
    position: relative;
}
main .container .cont.c3 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .container .cont.c3 ul li{
    min-width: 540px;
    width: 49.5%;
    margin: 0 auto;
}
main .container .cont.c3 ul li:nth-child(2) {
    margin-left: 1%;
}
main .container .cont .more{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: 500;
}
main .container .cont.c4{
    margin-bottom: 0;
}
main .container .cont.c4 ul li{
    position: relative;
}
main .container .cont.c4 ul li a{
    display: block;
    width: 100%;
    aspect-ratio: 1.779 / 1;
    background-color: rgba(1, 1, 1, 0.5);
    position: absolute;
    top: 0;
    opacity: 0;
}
main .container .cont.c4 ul li a img{
    width: 8%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.7;
}
main .container .cont.c4 ul li span{
    display: inline-block;
    margin-top: 15px;
    font-size: 17px;
}




footer{
    position: relative;
}




@media only screen and (max-width:499px){

    br[class="off"]{
        display: block;
    }
    .pagination {
        margin-top: 10px;
        font-size: 15px;
    }
    .prev{
        margin-left: 7%;
    }
    .prev img {
        width: 8px;
        margin-right: 10px;
    }
    main .container .cont{
        width: 86%;
        margin-bottom: 80px;
        padding-left: 7%;
    }
    main .container .cont.c1{
        margin: 20px 0 30px 0;
        text-align: center;
    }
    main .container .cont.c1 ul,
    main .container .cont.c3 ul{
        display: block;
    }
    main .container .cont.c1 ul li,
    main .container .cont.c3 ul li{
        min-width: unset;
        width: 100%;
    }
    main .container .cont.c1 ul li:nth-child(2){
        padding: 40px 0;
    }
    main .container .cont.c1 ul li .name{
        font-size: 13px;
        font-weight: 500;
    }
    main .container .cont.c1 ul li h2{
        margin: 7px 0;
        font-size: 22px;
        line-height: 30px;
    }
    main .container .cont.c1 ul li .date{
        margin-bottom: 15px;
        font-size: 13px;
    }
    main .container .cont.c1 ul li p{
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
    }
    main .container .cont h3{
        margin-bottom: 20px;
        font-size: 15px;
    }
    main .container .cont.c2 .list {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    main .container .cont.c2 .title {
        display: block;
    }
    main .container .cont.c2 .title:first-child {
        margin-top: 15px;
    }
    main .container .cont.c2 .title:last-child {
        margin-bottom: 15px;
    }
    main .container .cont.c2 .title span {
        width: 100%;
        min-width: unset;
        margin: 0;
        padding: 15px 0;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
    main .container .cont.c2 .title strong {
        font-size: 12px;
        font-weight: 800;
    }
    main .container .cont.c2 .title:last-child .content {
        border-bottom: unset;
    }
    main .container .cont.c2 .title .content {
        margin: 0 10px 10px;
        border-bottom: 1px solid #b5b5b5;
        text-align: center;
    }
    main .container .cont.c2 .title .content p {
        margin: 10px 0 20px 0;
        font-size: 13px;
        line-height: 22px;
    }
    main .container .cont.c3 ul li:first-child{
        margin-bottom: 10px;
    }
    main .container .cont.c3 ul li:nth-child(2) {
        margin-left: 0;
    }
    main .container .cont.c4 iframe{
        width: 335px;
        height: 188px;
    }
    main .container .cont.c4{
        padding-bottom: 30px;
    }
    main .container .cont.c4 ul li a img{
        display: none;
    }
    main .container .cont.c4 ul li span{
        font-size: 13px;
    }
}
