@charset "UTF-8";






#main .contentwrap .cont.c2 ul li .title {
    width: 290px;
}
#main .contentwrap .cont.c2 ul li .script {
    min-width: 800px;
    width: calc(100% - 310px);
}
#main .contentwrap .cont.c2 ul li .script ul li {
    width: calc(100% - 330px);
}
#main .contentwrap .cont.c3 ul li{
    margin: 0 auto;
}






@media only screen and (max-width:499px){
    
    #main .contentwrap .cont.c2 ul li .title {
        width: 100%;
    }
    #main .contentwrap .cont.c3 img{
        width: 100%;
        margin-left: 0;
    }
}
