@charset "UTF-8";




main .container .cont.c2 ul li .title{
    width: 310px;
}
main .container .cont.c2 ul li .script{
    width: calc(100% - 340px);
}
main .container .cont.c2 ul li .script ul li{
    width: calc(100% - 340px);
}
main .container .cont.c3 ul li{
    margin: 0 auto;
}





@media only screen and (max-width:499px){
    
    main .container .cont.c3 img{
        width: 100%;
    }
}