@charset "UTF-8";

#main{
    height: calc(100vh - 70px);
    position: relative;
}
#main .contentwrap{
    min-width: unset;
    width: 650px;
    height: 550px;
    margin: unset;
    padding-top: unset;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 50%;
}
#main .contentwrap .menu{
    width: 47px;
}
#main .contentwrap .menu ul li{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
}
#main .contentwrap .menu ul li:first-child{
    font-weight: 700;
}
#main .contentwrap .content{
    width: 420px;
    height: 550px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 80px;
}
#main .contentwrap .content .back{
    width: 380px;
    height: 510px;
    background-color: #333333;
}
#main .contentwrap .content .front{
    width: 380px;
    height: 510px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#main .contentwrap .content .front ul li{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: none;
}
#main .contentwrap .content .front ul li:nth-child(1){
    display: block;
    background-image: url(../img/content1.jpg);
}
#main .contentwrap .content .front ul li:nth-child(2){
    background-image: url(../img/content2.jpg);
}
#main .contentwrap .content .front ul li:nth-child(3){
    background-image: url(../img/content3.jpg);
}
#main .contentwrap .content .front ul li:nth-child(4){
    background-image: url(../img/content4.jpg);
}
#main .contentwrap .content .front ul li:nth-child(5){
    background-image: url(../img/content5.jpg);
}
#main .contentwrap .textwrap{
    width: 125px;
    height: 62px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#main .contentwrap .textwrap .text{
    width: 125px;
    position: absolute;
    display: none;
}
#main .contentwrap .textwrap .text span{
    font-size: 35px;
    font-weight: 700;
}
#main .contentwrap .textwrap .text p{
    font-size: 15px;
    font-weight: 500;
}
#main .contentwrap .textwrap .text.t1{
    display: block;
}






@media only screen and (max-width:499px){

    #main{
        height: 2300px;
        padding-bottom: 100px;
    }
    #main .contentwrap{
        width: 100%;
        height: 100%;
        transform: unset;
        position: unset;
    }
    #main .contentwrap .content{
        width: 100%;
        height: 2200px;
        transform: unset;
        position: relative;
        top: 100px;
        left: unset;
    }
    #main .contentwrap .menu,
    #main .contentwrap .content .back{
        display: none;
    }
    #main .contentwrap .content .front{
        width: 100%;
        height: 100%;
        position: relative;
        right: 0;
        bottom: 0;
    }
    #main .contentwrap .content .front ul li{
        width: 300px;
        height: 400px;
        margin-bottom: 50px;
        position: relative;
        display: block;
    }
    #main .contentwrap .content .front ul li:nth-child(2n+2){
        margin-left: calc(100% - 300px);
    }
    #main .contentwrap .textwrap{
        width: 100%;
        height: 72px;
        top: 400px;
    }
    #main .contentwrap .textwrap .text{
        width: 125px;
        padding: 13px;
        background-color: #ffffff;
        box-sizing: border-box;
        position: absolute;
        display: block;
    }
    #main .contentwrap .textwrap .text.t1,
    #main .contentwrap .textwrap .text.t3,
    #main .contentwrap .textwrap .text.t5{
        right: 0;
    }
    #main .contentwrap .textwrap .text.t2{
        top: 450px;
    }
    #main .contentwrap .textwrap .text.t3{
        top: 900px;
    }
    #main .contentwrap .textwrap .text.t4{
        top: 1350px;
    }
    #main .contentwrap .textwrap .text.t5{
        top: 1800px;
    }
    #main .contentwrap .textwrap .text span{
        font-size: 25px;
        font-weight: 700;
    }
    #main .contentwrap .textwrap .text p{
        font-size: 13px;
        font-weight: 500;
    }
    #main .link {
        bottom: 20px;
    }
}
