@charset "UTF-8";

#main .contentwrap ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap ul li{
    min-width: 133px;
    width: 12%;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
#main .contentwrap ul li:nth-child(n+6){
    min-width: 205px;
    width: 18%;
}
#main .contentwrap ul li:nth-child(n+8){
    min-width: 272px;
    width: 24.5%;
}
#main .contentwrap ul li:nth-child(n+20){
    min-width: 155px;
    width: 14%;
}
#main .contentwrap ul li:nth-child(25),
#main .contentwrap ul li:nth-child(31){
    min-width: 310px;
    width: 28%;
}
#main .contentwrap ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    position: absolute;
    opacity: 0;
}
#main .contentwrap ul li a img{
    width: 30px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.7;
}
#main .popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#main .popup .popup-cont{
    width: 80%;
    height: 90vh;
    background-image: url(../img/content31.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#main .popup .popup-btn{
    width: 40px;
    height: 120px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
}
#main .popup .popup-btn ul li{
    cursor: pointer;
}
#main .popup .popup-btn img{
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(1, 1, 1, 0.5);
    opacity: 0.5;
}
#main .popup .popup-btn img:hover{
    opacity: 1;
}





#footer{
    margin-top: 50px;
    position: relative;
}





@media only screen and (max-width:499px){

    #main .contentwrap ul {
        display: block;
    }
    #main .contentwrap ul li{
        width: 86%;
        margin-left: 7%;
    }
    #main .contentwrap ul li:nth-child(n+6){
        width: 86%;
    }
    #main .contentwrap ul li:nth-child(n+8){
        width: 86%;
    }
    #main .contentwrap ul li:nth-child(n+20){
        width: 86%;
    }
    #main .contentwrap ul li:nth-child(25),
    #main .contentwrap ul li:nth-child(31){
        width: 86%;
    }
    #main .popup .popup-cont{
        width: 100%;
    }
    #main .popup .popup-btn{
        width: 120px;
        height: 40px;
        transform: translate(0, 0);
        top: 0;
        right: 0;
        z-index: 1;
    }
    #main .popup .popup-btn ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #main .popup .popup-btn ul li{
        width: 40px;
        position: absolute;
    }
    #main .popup .popup-btn ul li:nth-child(2){
        right: 80px;
    }
    #main .popup .popup-btn ul li:nth-child(3){
        right: 40px;
    }
    #main .popup .popup-btn ul li:first-child{
        right: 0;
    }
    #main .popup .popup-btn img{
        opacity: 1;
    }
}
