@charset "UTF-8";




#main{
    min-width: 1400px;
    width: 100%;
}
#main .contentwrap{
    width: 1100px;
    margin: 0 auto;
}
#main .contentwrap .cont{
    margin-bottom: 150px;
}
#main .contentwrap .cont h3{
    margin-bottom: 30px;
    text-align: center;
}
#main .contentwrap .cont.c1{
    padding-top: 120px;
}
#main .contentwrap .cont.c1 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap .cont.c1 ul li{
    width: 550px;
}
#main .contentwrap .cont.c1 ul li:nth-child(2){
    padding: 40px;
    padding-right: 0;
    box-sizing: border-box;
}
#main .contentwrap .cont.c1 ul li .name{
    font-size: 20px;
    font-weight: 700;
}
#main .contentwrap .cont.c1 ul li h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
}
#main .contentwrap .cont.c1 ul li .date{
    display: inline-block;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 500;
}
#main .contentwrap .cont.c1 ul li p{
    margin-top: 20px;
    font-size: 15px;
}
#main .contentwrap .cont.c2 > ul{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
#main .contentwrap .cont.c2 ul li{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap .cont.c2 ul li .title{
    width: 210px;
}
#main .contentwrap .cont.c2 ul li .title ul li{
    display: inline-block;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    cursor: pointer;
}
#main .contentwrap .cont.c2 ul li .title ul li:first-child{
    padding-top: 40px;
}
#main .contentwrap .cont.c2 ul li .title ul li:last-child{
    padding-bottom: 40px;
}
#main .contentwrap .cont.c2 ul li .title span{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 900;
    color: #DB1D64;
    position: relative;
    top: -1px;
}
#main .contentwrap .cont.c2 ul li .script{
    width: 800px;
}
#main .contentwrap .cont.c2 ul li .script ul li{
    width: 780px;
    margin-top: 37px;
    font-size: 13px;
    line-height: 23px;
    word-spacing: 1.5px;
    letter-spacing: -0.2px;
    position: absolute;
    display: none;
}
#main .contentwrap .cont.c3{
    position: relative;
}
#main .contentwrap .cont.c3 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap .cont.c3 ul li{
    width: 540px;
}
#main .contentwrap .cont.c3 a{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: 500;
}




#footer{
    position: relative;
}




@media only screen and (max-width:499px){

    #main{
        min-width: 100%;
    }
    #main .contentwrap{
        width: 100%;
    }
    #main .contentwrap .cont{
        width: 86%;
        margin-bottom: 80px;
        padding-left: 7%;
    }
    #main .contentwrap .cont.c1{
        margin-bottom: 30px;
        padding-top: 100px;
        text-align: center;
    }
    #main .contentwrap .cont.c1 ul,
    #main .contentwrap .cont.c3 ul{
        display: block;
    }
    #main .contentwrap .cont.c1 ul li,
    #main .contentwrap .cont.c3 ul li{
        width: 100%;
    }
    #main .contentwrap .cont.c1 ul li:nth-child(2){
        padding-top: 50px;
        padding-left: 0;
    }
    #main .contentwrap .cont.c1 ul li .name{
        font-size: 13px;
        font-weight: 500;
    }
    #main .contentwrap .cont.c1 ul li h2{
        margin-top: 3px;
        font-size: 25px;
    }
    #main .contentwrap .cont.c1 ul li .date{
        margin-bottom: 10px;
        font-size: 13px;
    }
    #main .contentwrap .cont.c1 ul li p{
        margin-top: 20px;
        font-size: 12px;
        line-height: 20px;
    }
    #main .contentwrap .cont h3{
        margin-bottom: 20px;
        font-size: 15px;
    }
    #main .contentwrap .cont.c2 > ul{
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    #main .contentwrap .cont.c2 ul li .title{
        width: 100%;
    }
    #main .contentwrap .cont.c2 ul li .title ul li{
        display: inline-block;
        padding-top: 20px;
        padding-left: 0;
        font-size: 15px;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        text-align: center;
    }
    #main .contentwrap .cont.c2 ul li .title ul li:first-child{
        padding-top: 30px;
    }
    #main .contentwrap .cont.c2 ul li .title ul li:last-child{
        padding-bottom: 30px;
    }
    #main .contentwrap .cont.c2 ul li .title span{
        font-size: 12px;
        font-weight: 800;
    }
    #main .contentwrap .cont.c3 ul li:first-child{
        margin-bottom: 10px;
    }
    #main .contentwrap .cont.c4 iframe{
        width: 335px;
        height: 188px;
    }
    #main .contentwrap .cont.c4{
        padding-bottom: 30px;
    }
}