@charset "UTF-8";

main{
    min-width: 1400px;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
}
main .container{
    height: 480px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 46%;
    left: 50%;
}
main .container .wrapper{
    position: relative;
}
.pagination {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 174px;
    z-index: 1;
}
.arrow {
    width: 13px;
    cursor: pointer;
}
main .container .calendar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
main .container .calendar.c1{
    display: none;
}
main .container .calendar .cont.c1{
    text-align: center;
}
main .container .calendar .cont.c1 h2{
    margin-bottom: 50px;
    font-size: 25px;
}
main .container .calendar .cont.c1 .week{
    width: 520px;
    margin: 30px auto;
}
main .container .calendar .cont.c1 .week ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .container .calendar .cont.c1 .week ul li{
    width: 40px;
    font-size: 15px;
    font-weight: 700;
}
main .container .calendar .cont.c1 .date{
    width: 550px;
}
main .container .calendar .cont.c1 .date ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .container .calendar .cont.c1 .date ul:nth-child(n+2){
    display: none;
}
main .container .calendar .cont.c1 .date ul li{
    width: 30px;
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    margin: 24px;
    box-sizing: border-box; /* padding 포함한 크기 계산 */
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    align-items: center; /* 텍스트를 중앙에 배치 */
    display: flex;
    justify-content: center;
    cursor: pointer;
}
main .container .calendar .cont.c1 .date ul li:nth-child(7n+1){
    margin-left: 20px;
}
main .container .calendar .cont.c1 .date ul li:nth-child(7n+7){
    margin-right: 20px;
}
.have{
    border-radius: 18px;
    background-color: #333333;
    color: #ffffff;
}
.have.anniversary{
    background: linear-gradient(to bottom left, #ff0000, #ff0000, #ff00cc, #9500ff, #0055ff, #06b500, #06b500);
}
main .container .calendar .cont.c2{
    width: calc(100% - 600px);
    height: 100%;
}
main .container .calendar .cont.c2 h2{
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}
main .container .calendar .cont.c2 .type{
    margin-bottom: 57px;
    border-bottom: 2px solid #333333;
}
main .container .calendar .cont.c2 .type ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
main .container .calendar .cont.c2 .type ul li{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
}
main .container .calendar .cont.c2 .type ul li:first-child{
    margin-left: 0;
}
main .container .calendar .cont.c2 .scroll{
    height: 300px;
    padding-right: 20px;
    overflow-y: scroll;
}
main .container .calendar .cont.c2 .scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
main .container .calendar .cont.c2 .scroll::-webkit-scrollbar-trac{
    background-color:transparent;
}
main .container .calendar .cont.c2 .scroll::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #666666;
}
main .container .calendar .cont.c2 .scroll::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
main .container .calendar .cont.c2 .scroll::-webkit-scrollbar-corner{
    width: 0;
    height: 0;
}
main .container .calendar .cont.c2 .schedule ul li:last-child{
    margin-bottom: 30px;
}
main .container .calendar .cont.c2 .schedule ul li{
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    position: relative;
}
main .container .calendar .cont.c2 ul li span{
    display: inline-block;
    width: 16px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 8px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: -22px;
}
main .container .calendar .cont.c2 .schedule ul li span{
    top: 5px;
}
.on{
    margin-left: 23px;
}
.radio{
    background-color: #0055ff50;
}
.live{
    background-color: #9500ff50;
}
.content{
    background-color: #ff00cc50;
}
.show{
    background-color: #ff000050;
}
.anniversary{
    background-color: #06b50050;
}





@media only screen and (max-width: 1400px) and (min-width: 500px) {
    
    main .link {
        position: absolute;
    }
}




@media only screen and (max-width:499px){

    main{
        min-width: 100%;
        height: unset;
    }
    main .container{
        width: 100%;
        height: unset;
        display: block;
        position: unset;
        transform: unset;
        padding: 100px 0;
    }
    .pagination{
        width: 170px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .pagination .arrow {
        width: 11px;
    }
    main .container .calendar .cont{
        width: 86%;
        height: unset;
        padding-left: 7%;
    }
    main .container .calendar .cont.c1{
        margin-bottom: 50px;
    }
    main .container .calendar .cont.c1 h2{
        margin-left: 0;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }
    main .container .calendar .cont.c1 .week{
        width: 100%;
        margin: 20px auto;
        padding: 0 3.5%;
        box-sizing: border-box;
    }
    main .container .calendar .cont.c1 .week ul li{
        width: unset;
        font-size: 14px;
        font-weight: 600;
    }
    main .container .calendar .cont.c1 .date{
        width: 100%;
    }
    main .container .calendar .cont.c1 .date ul li{
        width: 8%;
        margin: 3.1%;
        font-size: 13px;
        line-height: 29px;
    }
    main .container .calendar .cont.c1 .date ul li:nth-child(7n+1){
        margin-left: 3.3%;
    }
    main .container .calendar .cont.c1 .date ul li:nth-child(7n+7){
        margin-right: 3.3%;
    }
    main .container .calendar .cont.c2{
        width: 86%;
        height: unset;
    }
    main .container .calendar .cont.c2 h2{
        display: none;
    }
    main .container .calendar .cont.c2 .type{
        margin-bottom: 30px;
        border-bottom: 1px solid #333333;
    }
    main .container .calendar .cont.c2 .type ul li{
        margin-left: 8%;
        margin-bottom: 10px;
        font-size: 11px;
    }
    main .container .calendar .cont.c2 ul li span{
        width: 14px;
        height: 14px;
        font-size: 8px;
        font-weight: 700;
        line-height: 15px;
        left: -19px;
    }
    main .container .calendar .cont.c2 .scroll{
        height: unset;
        padding-right: 0;
        overflow-y: unset;
    }
    main .container .calendar .cont.c2 .schedule ul{
        display: none;
    }
    main .container .calendar.c1 .cont.c2 .schedule ul:nth-child(9){
        display: block;
    }
    main .container .calendar.c2 .cont.c2 .schedule ul:nth-child(2){
        display: block;
    }
    main .container .calendar.c3 .cont.c2 .schedule ul:nth-child(5){
        display: block;
    }
    main .container .calendar.c4 .cont.c2 .schedule ul:nth-child(2){
        display: block;
    }
    main .container .calendar.c5 .cont.c2 .schedule ul:nth-child(3){
        display: block;
    }
    main .container .calendar .cont.c2 .schedule ul li{
        margin-bottom: 5px;
        font-size: 11px;
        font-weight: 600;
        line-height: 18px;
    }
    main .container .calendar .cont.c2 .schedule ul li span{
        top: 2px;
    }
    main .link{
        bottom: 20px;
    }
    .on{
        margin-left: 18px;
    }
}




@media only screen and (max-width:448px){
    
    .pagination{
        width: 160px;
    }
    .pagination .arrow {
        width: 10px;
    }
    main .container .calendar .cont.c1 h2 {
        margin-bottom: 27px;
        font-size: 19px;
    }
    main .container .calendar .cont.c1 .date ul li{
        font-size: 12px;
        line-height: 27px;
    }
    main .container .calendar .cont.c1 .week ul li {
        font-size: 13px;
    }
    
}


@media only screen and (max-width:405px){

    .pagination{
        width: 140px;
    }
    .pagination .arrow {
        width: 9px;
    }
    main .container .calendar .cont.c1 h2 {
        margin-bottom: 25px;
        font-size: 18px;
    }
    main .container .calendar .cont.c1 .week{
        margin: 15px auto;
    }
    main .container .calendar .cont.c1 .week ul li {
        font-size: 12px;
    }
    main .container .calendar .cont.c1 .date ul li{
        font-size: 11px;
        line-height: 25px;
    }
    main .container .calendar .cont.c2 .schedule ul li{
        margin-bottom: 3px;
        font-size: 10px;
        line-height: 15px;
    }
    main .container .calendar .cont.c2 .schedule ul li span{
        top: 1px;
    }
    
}

@media only screen and (max-width:367px){


    main .container .calendar .cont.c1 h2 {
        margin-bottom: 23px;
        font-size: 17px;
    }
    main .container .calendar .cont.c1 .week ul li {
        font-size: 11px;
    }
    main .container .calendar .cont.c1 .date ul li{
        font-size: 10px;
        line-height: 22px;
    }
    main .container .calendar .cont.c2 .type ul li{
        font-size: 10px;
    }
    main .container .calendar .cont.c2 ul li span{
        width: 13px;
        height: 13px;
        font-size: 7px;
        font-weight: 700;
        line-height: 13px;
        left: -16px;
    }
    
}
