@charset "UTF-8";

#main{
    height: calc(100vh - 70px);
}
#main .contentwrap .menu{
    width: 450px;
    margin-bottom: 10px;
}
#main .contentwrap .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap .menu ul li{
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: #dddddd;
}
#main .contentwrap .menu ul li:first-child{
    font-weight: 700;
    color: #333333;
}
#main .contentwrap .content{
    height: calc(100vh - 280px);
    position: relative;
    overflow-y: scroll;
}
#main .contentwrap .content::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
#main .contentwrap .content::-webkit-scrollbar-trac{
    background-color:transparent;
}
#main .contentwrap .content::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #666666;
}
#main .contentwrap .content::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
#main .contentwrap .content::-webkit-scrollbar-corner{
    width: 0;
    height: 0;
}
#main .contentwrap .content .cont{
    width: calc(100% - 10px);
    position: absolute;
    display: none;
}
#main .contentwrap .content .cont ul{
    display: flex;
    flex-wrap: wrap;
}
#main .contentwrap .content .cont ul li{
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom: 30px;
    position: relative;
}
#main .contentwrap .content .cont ul li:nth-child(3n+3){
    margin-right: 0;
}
#main .contentwrap .content .cont ul li a{
    display: block;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
    opacity: 0;
}
#main .contentwrap .content .cont ul li a img{
    width: 15%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    opacity: 0.7;
}
#main .contentwrap .content .cont ul li img{
    border-radius: 10px;
}
#main .contentwrap .content .cont ul li span{
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}
#main .contentwrap .content .cont.c1{
    display: flex;
}




@media only screen and (max-width: 1400px) and (min-width: 500px) {
    
    #main .link {
        position: absolute;
        bottom: 50px;
    }
}

@media only screen and (max-width:499px){
    
    #main .contentwrap .menu{
        width: 84%;
        margin-left: 8%;
    }
    #main .contentwrap .menu ul li{
        font-size: 13px;
    }
    #main .contentwrap .content{
        width: 86%;
        height: unset;
        margin-left: 7%;
        overflow-y: unset;
    }
    #main .contentwrap .content .cont{
        width: 100%;
    }
    #main .contentwrap .content .cont ul{
        display: block;
    }
    #main .contentwrap .content .cont ul li{
        width: 100%;
    }
    #main .contentwrap .content .cont.c5 ul li{
        width: calc(100% - 2px);
    }
    #main .contentwrap .content .cont ul li span{
        margin-top: 7px;
        font-size: 12px;
    }
}
