@charset "UTF-8";

main{
    height: calc(100vh - 70px);
}
main .container .menu{
    width: 450px;
    margin-bottom: 10px;
}
main .container .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .container .menu ul li{
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: #dddddd;
}
main .container .menu ul li:first-child{
    font-weight: 700;
    color: #333333;
}
main .container .content{
    height: calc(100vh - 300px);
    overflow-y: scroll;
}
main .container .content::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
main .container .content::-webkit-scrollbar-trac{
    background-color:transparent;
}
main .container .content::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #666666;
}
main .container .content::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
main .container .content::-webkit-scrollbar-corner{
    width: 0;
    height: 0;
}
main .container .content .cont{
    width: calc(100% - 10px);
    display: none;
}
main .container .content .cont ul{
    display: flex;
    flex-wrap: wrap;
}
main .container .content .cont ul li{
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom: 30px;
    position: relative;
}
main .container .content .cont ul li:nth-child(3n+3){
    margin-right: 0;
}
main .container .content .cont ul li a{
    display: block;
    width: 100%;
    aspect-ratio: 1.775 / 1;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
    opacity: 0;
}
main .container .content .cont ul li a img{
    width: 15%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    opacity: 0.7;
}
main .container .content .cont ul li img{
    margin-bottom: 10px;
    border-radius: 10px;
}
main .container .content .cont ul li span{
    font-size: 14px;
    line-height: 20px;
}
main .container .content .cont.c1{
    display: flex;
}




@media only screen and (max-width: 1400px) and (min-width: 500px) {
    
    main .link {
        position: absolute;
        bottom: 50px;
    }
}

@media only screen and (max-width:499px){
    
    main {
        height: unset;
    }
    main .container .menu {
        width: 100%;
        padding: 20px 8% 10px;
        box-sizing: border-box;
        background-color: #ffffff;
        position: fixed;
        top: 70px;
        z-index: 2;
    }
    main .container .menu ul li{
        font-size: 13px;
    }
    main .container .content{
        width: 86%;
        height: unset;
        margin-left: 7%;
        padding: 20px 0;
        overflow-y: unset;
    }
    main .container .content .cont{
        width: 100%;
    }
    main .container .content .cont ul{
        display: block;
    }
    main .container .content .cont ul li{
        width: 100%;
        margin-right: 0;
    }
    main .container .content .cont.c1 ul li:last-child,
    main .container .content .cont.c2 ul li:last-child,
    main .container .content .cont.c3 ul li:last-child,
    main .container .content .cont.c4 ul li:last-child,
    main .container .content .cont.c5 ul li:last-child{
        margin-bottom: 0;
    }
    main .container .content .cont.c5 ul li{
        width: calc(100% - 2px);
    }
    main .container .content .cont ul li img{
        margin-bottom: 7px;
    }
    main .container .content .cont ul li span{
        font-size: 12px;
        line-height: 17px;
    }
}
