@charset "UTF-8";

br[class="off"]{
    display: none;
}
br[class="on"]{
    display: block;
}
br[class="off-img"]{
    display: none;
}
.highlight {
    background-color: yellow; /* 검색된 타이틀에 하이라이트 추가 */
}


/* 검색창 스타일 */
.search-container {
    border: 1px solid #cccccc;
    position: absolute;
    height: 30px;
    top: 10px;
    right: 0;
}
#search {
    border: none;
    padding: 5px;
    box-sizing: border-box;
    height: 30px;
    font-size: 16px;
    background-color: unset;
}
#search-btn {
    width: 12px;
    padding: 5px;
    position: relative;
}
.container .wrapper {
    padding-top: 60px;
    position: relative;
}
.container .wrapper .titlewrapper {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.container .wrapper .title {
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    cursor: pointer;
}
.container .wrapper .title > span {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 20px;
    font-weight: 800;
}
.container .wrapper .title > p {
    margin-top: 5px;
    padding: 0 0 20px 20px;
    font-size: 15px;
    font-weight: 500;
}
.container .wrapper .title .content{
    width: 100%;
    min-width: 1050px;
    margin: 0 auto;
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    cursor: auto;
    display: none;
}
.container .wrapper .title .content p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
}
.container .wrapper .title .content .seemore{
    display: inline-block;
    font-weight: 900;
    color: #0055ff;
    text-decoration-line: underline;
}
.container .wrapper .title .content img{
    width: unset;
    height: 595px;
    padding-bottom: 20px;
}
.container .wrapper .title .content a{
    display: block;
    position: relative;
}
.container .wrapper .title .content a img:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 8%;
}
.container .wrapper .title .content .guidewrap{
    text-align: left;
}
.container .wrapper .title .content .guidewrap .guide{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .wrapper .title .content .guidewrap .guide li{
    width: 33.5%;
}
.container .wrapper .title .content .guidewrap .guide li:last-child{
    width: 33%;
}
.container .wrapper .title .content .guidewrap .guide .guidetitle{
    width: 100%;
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.container .wrapper .title .content .guidewrap .guide p{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.container .wrapper .title .content .guidewrap .guide span{
    font-weight: 700;
}
.container .wrapper .title .content .guidewrap .guide.g1 .guidetitle{
    background-color: #9500ff;
}
.container .wrapper .title .content .guidewrap .guide.g1{
    border: solid 5px #9500ff;
}
.container .wrapper .title .content .guidewrap .guide.g1 p span{
    color: #9500ff;
}
.container .wrapper .title .content .guidewrap .guide.g2 .guidetitle{
    background-color: #ff00cc;
}
.container .wrapper .title .content .guidewrap .guide.g2{
    border: solid 5px #ff00cc;
}
.container .wrapper .title .content .guidewrap .guide.g2 p span{
    color: #ff00cc;
}
.container .wrapper .title .content .guidewrap .guide.g3 .guidetitle{
    background-color: #ff0000;
}
.container .wrapper .title .content .guidewrap .guide.g3{
    border: solid 5px #ff0000;
}
.container .wrapper .title .content .guidewrap .guide.g3 p span{
    color: #ff0000;
}
.container .wrapper .title .content .guidewrap .guide.g4 .guidetitle{
    background-color: #06b500;
}
.container .wrapper .title .content .guidewrap .guide.g4{
    border: solid 5px #06b500;
}
.container .wrapper .title .content .guidewrap .guide.g4 p span{
    color: #06b500;
}
.container .wrapper .title .content .guidewrap .guide.g5 .guidetitle{
    background-color: #0055ff;
}
.container .wrapper .title .content .guidewrap .guide.g5{
    border: solid 5px #0055ff;
}
.container .wrapper .title .content .guidewrap .guide.g5 p span{
    color: #0055ff;
}
.container .wrapper .title .content .guidewrap .guide.g6 .guidetitle{
    background-color: #ff9100;
}
.container .wrapper .title .content .guidewrap .guide.g6{
    border: solid 5px #ff9100;
}
.container .wrapper .title .content .guidewrap .guide.g6 p span{
    color: #ff9100;
}
.pagination {
    width: 200px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}
.arrow {
    cursor: pointer;
}
.pagination span:nth-child(2) {
    padding: 0 17px;
}
#prev img{
    width: 13px;
    margin-right: 17px;
}
#next img{
    width: 13px;
    margin-left: 17px;
}







@media only screen and (max-width:1920px){

    br[class="off-img"]{
        display: block;
    }
}

@media only screen and (max-width:1400px) and (min-width: 500px){

    main .link{
        width: 250px;
        position: relative;
        display: flex;
        justify-content: space-between;
        bottom: -20px;
    }
    main .link a{
        width: 20px;
    }
    main .link img{
        margin-bottom: 0;
    }
}

@media only screen and (max-width:499px){

    br[class="off"]{
        display: block;
    }
    br[class="on"]{
        display: none;
    }
    .search-container {
        height: 25px;
        top: -20px;
        right: 7%;
    }
    #search {
        height: 25px;
        font-size: 13px;
    }
    .container .wrapper{
        padding: 20px 7% 30px;
        box-sizing: border-box;
    }
    .container .wrapper .title > span{
        padding: 15px 0 0 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }
    .container .wrapper .title > p{
        margin-top: 5px;
        padding: 0 0 15px 10px;
        font-size: 12px;
    }
    .container .wrapper .title .content{
        padding: 20px 0 0 0;
        min-width: unset;
        width: 100%;
        text-align: center;
    }
    .container .wrapper .title .content p{
        font-size: 13px;
        line-height: 20px;
    }
    .container .wrapper .title .content img{
        width: 100%;
        height: unset;
    }
    .container .wrapper .title .content a{
        font-size: 14px;
    }
    .container .wrapper .title .content a img:nth-child(2){
        transform: translate(-50%, -50%);
        top: 50%;
    }
    .container .wrapper .title .content .guidewrap .guide .guidetitle{
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
    .container .wrapper .title .content .guidewrap .guide li{
        width: 100%;
    }
    .container .wrapper .title .content .guidewrap .guide li:last-child{
        width: 100%;
    }
    .container .wrapper .title .content .guidewrap .guide p{
        margin-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .container .wrapper .title .content .guidewrap .guide p:last-child{
        margin-bottom: 20px;
    }
    .container .wrapper .title .content .guidewrap .guide.g1{
        border: solid 3px #9500ff;
    }
    .container .wrapper .title .content .guidewrap .guide.g2{
        border: solid 3px #ff00cc;
    }
    .container .wrapper .title .content .guidewrap .guide.g3{
        border: solid 3px #ff0000;
    }
    .container .wrapper .title .content .guidewrap .guide.g4{
        border: solid 3px #06b500;
    }
    .container .wrapper .title .content .guidewrap .guide.g5{
        border: solid 3px #0055ff;
    }
    .container .wrapper .title .content .guidewrap .guide.g6{
        border: solid 3px #ff9100;
    }
    .container .wrapper .title .content.off p{
        text-align: left;
        padding-left: 10px;
    }
    .container .wrapper .title .content .video{
        width: 100%;
        height: 193px;
    }
    .pagination {
        margin: 0 0 40px 0;
        width: 130px;
        font-size: 13px;
    }
    .pagination span:nth-child(2) {
        padding: 0 13px;
    }
    .arrow {
        width: 60px;
        cursor: pointer;
    }
    #prev img{
        width: 9px;
        margin-right: 10px;
    }
    #next img{
        width: 9px;
        margin-left: 10px;
    }
    
}
