@charset "UTF-8";

#main .contentwrap > ul{
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
#main .contentwrap ul li{
    width: 100%;
}
#main .contentwrap ul li .content{
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    cursor: pointer;
}
#main .contentwrap ul li:first-child .content{
    border-top: 0;
}
#main .contentwrap ul li:last-child .content{
    border-bottom: 0;
}
#main .contentwrap ul li .content span{
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 800;
}
#main .contentwrap ul li .content p{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}
#main .contentwrap ul li:nth-child(n+11){
    display: none;
}
#main .contentwrap ul li .more{
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    display: none;
}
#main .contentwrap ul li .more p{
    padding-top: 20px;
    font-size: 15px;
    line-height: 25px;
}
#main .contentwrap ul li .more img{
    width: unset;
    height: 500px;
    padding-top: 20px;
}
#main .contentwrap ul li .more.m1 img:nth-child(2){
    margin-left: 100px;
    margin-right: 100px;
}
#main .contentwrap ul li .more iframe{
    width: 282px;
    height: 500px; 
    padding-top: 20px;
}
#main .contentwrap ul li .more video{
    width: 375px;
    height: 500px; 
    padding-top: 20px;
}
#main .contentwrap ul li .more.mov video{
    width: 345px;
    height: 250px;
}
#main .contentwrap ul li .more a{
    display: block;
    position: relative;
}
#main .contentwrap ul li .more a img:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 8%;
}
#main .contentwrap ul li .more .seemore{
    display: inline-block;
    font-weight: 900;
    color: #0055ff;
    text-decoration-line: underline;
}
#main .contentwrap ul li .more .guidewrap{
    text-align: left;
}
#main .contentwrap ul li .more .guidewrap .guide{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .contentwrap ul li .more .guidewrap .guide li{
    width: 33.5%;
}
#main .contentwrap ul li .more .guidewrap .guide li:last-child{
    width: 33%;
}
#main .contentwrap ul li .more .guidewrap .guide .title{
    width: 100%;
    padding: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
#main .contentwrap ul li .more .guidewrap .guide p{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
#main .contentwrap ul li .more .guidewrap .guide span{
    font-weight: 700;
}
#main .contentwrap ul li .more .guidewrap .guide.g1 .title{
    background-color: #0055ff;
}
#main .contentwrap ul li .more .guidewrap .guide.g1{
    border: solid 5px #0055ff;
}
#main .contentwrap ul li .more .guidewrap .guide.g1 p span{
    color: #0055ff;
}
#main .contentwrap ul li .more .guidewrap .guide.g2 .title{
    background-color: #06b500;
}
#main .contentwrap ul li .more .guidewrap .guide.g2{
    border: solid 5px #06b500;
}
#main .contentwrap ul li .more .guidewrap .guide.g2 p span{
    color: #06b500;
}
#main .contentwrap ul li .more .guidewrap .guide.g3 .title{
    background-color: #ff0000;
}
#main .contentwrap ul li .more .guidewrap .guide.g3{
    border: solid 5px #ff0000;
}
#main .contentwrap ul li .more .guidewrap .guide.g3 p span{
    color: #ff0000;
}
#main .contentwrap ul li .more .guidewrap .guide.g4 .title{
    background-color: #ff00cc;
}
#main .contentwrap ul li .more .guidewrap .guide.g4{
    border: solid 5px #ff00cc;
}
#main .contentwrap ul li .more .guidewrap .guide.g4 p span{
    color: #ff00cc;
}
#main .contentwrap ul li .more .guidewrap .guide.g5 .title{
    background-color: #9500ff;
}
#main .contentwrap ul li .more .guidewrap .guide.g5{
    border: solid 5px #9500ff;
}
#main .contentwrap ul li .more .guidewrap .guide.g5 p span{
    color: #9500ff;
}




#footer{
    margin-top: 50px;
    position: relative;
}





@media only screen and (max-width:499px){

    #main .contentwrap > ul{
        padding: 0 7%;
        box-sizing: border-box;
    }
    #main .contentwrap ul li .content span{
        padding-top: 15px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 700;
    }
    #main .contentwrap ul li .content p{
        margin-top: 2px;
        padding-left: 10px;
        padding-bottom: 15px;
        font-size: 12px;
    }
    #main .contentwrap ul li .more{
        width: 100%;
    }
    #main .contentwrap ul li .more p{
        font-size: 13px;
        line-height: 20px;
    }
    #main .contentwrap ul li .more img{
        width: 100%;
        height: unset;
    }
    #main .contentwrap ul li .more a{
        font-size: 14px;
    }
    #main .contentwrap ul li .more a img:nth-child(2){
        transform: translate(-50%, -50%);
        top: 50%;
    }
    #main .contentwrap ul li .more video{
        width: 100%;
        padding-top: 0;
    }
    #main .contentwrap ul li .more.m1 img:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
    #main .contentwrap ul li .more .guidewrap .guide .title{
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
    #main .contentwrap ul li .more .guidewrap .guide li{
        width: 100%;
    }
    #main .contentwrap ul li .more .guidewrap .guide li:last-child{
        width: 100%;
    }
    #main .contentwrap ul li .more .guidewrap .guide p{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    #main .contentwrap ul li .more .guidewrap .guide p:last-child{
        margin-bottom: 20px;
    }
    #main .contentwrap ul li .more .guidewrap .guide.g1{
        border: solid 3px #0055ff;
    }
    #main .contentwrap ul li .more .guidewrap .guide.g2{
        border: solid 3px #06b500;
    }
    #main .contentwrap ul li .more .guidewrap .guide.g3{
        border: solid 3px #ff0000;
    }
    #main .contentwrap ul li .more .guidewrap .guide.g4{
        border: solid 3px #ff00cc;
    }
    #main .contentwrap ul li .more .guidewrap .guide.g5{
        border: solid 3px #9500ff;
    }
    
}
